*{
  box-sizing: border-box;
}

:root{

  // FONT
  --font-family: 'Roboto', sans-serif;

  //COLORS
  --color-white: 255, 255, 255;
  --color-white-25: rgba(var(--color-white), 0.25);
  --color-white-50: rgba(var(--color-white), 0.5);
  --color-white-75: rgba(var(--color-white), 0.75);

  --color-red: 255, 0, 0;
  --color-red-25: rgba(var(--color-red), 0.25);
  --color-red-50: rgba(var(--color-red), 0.5);
  --color-red-75: rgba(var(--color-red), 0.75);

  --color-yellow: 255, 255, 0;
  --color-yellow-25: rgba(var(--color-yellow), 0.25);
  --color-yellow-50: rgba(var(--color-yellow), 0.5);
  --color-yellow-75: rgba(var(--color-yellow), 0.75);

  --color-green: 0, 255, 0;
  --color-green-25: rgba(var(--color-green), 0.25);
  --color-green-50: rgba(var(--color-green), 0.5);
  --color-green-75: rgba(var(--color-green), 0.75);

  --color-blue: 0, 0, 255;
  --color-blue-25: rgba(var(--color-blue), 0.25);
  --color-blue-50: rgba(var(--color-blue), 0.5);
  --color-blue-75: rgba(var(--color-blue), 0.75);

  --color-purple: 128, 0, 128;
  --color-purple-25: rgba(var(--color-purple), 0.25);
  --color-purple-50: rgba(var(--color-purple), 0.5);
  --color-purple-75: rgba(var(--color-purple), 0.75);

  --color-cyan: 0, 255, 255;
  --color-cyan-25: rgba(var(--color-cyan), 0.25);
  --color-cyan-50: rgba(var(--color-cyan), 0.5);
  --color-cyan-75: rgba(var(--color-cyan), 0.75);

  --color-orange: 255, 165, 0;
  --color-orange-25: rgba(var(--color-orange), 0.25);
  --color-orange-50: rgba(var(--color-orange), 0.5);
  --color-orange-75: rgba(var(--color-orange), 0.75);

  --color-gray: 128, 128, 128;
  --color-gray-25: rgba(var(--color-gray), 0.25);
  --color-gray-50: rgba(var(--color-gray), 0.5);
  --color-gray-75: rgba(var(--color-gray), 0.75);

//  SHADOWS
  --shadow-simple:0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

//  BLURS
  --blur-small: blur( 4px );
  --blur-medium: blur( 8px );
  --blur-big: blur( 12px );
  --blur-biger: blur( 16px );

  // RADIUS
  --radius-simple: 10px;
}
